A.clsVerySmall {
	color: #FFFFFF;
	font-family: arial;
	font-size: 4pt;
	text-decoration: none;
}

A.clsVerySmall:hover {
	color: #FFFFFF;
	font-size: 7pt;
	text-decoration: none;
}

A.clsSmall {
	color: #FFFFFF;
	font-family: arial;
	font-size: 8pt;
	text-decoration: none;
}

DIV.clsSideMenu {
	border: 1px solid #000000;
	border-bottom: 0px;
	left: 0px;
	padding: 0px;
	position: relative;
	top: 0px;
	width: 100px;
}

DIV.clsSideMenuOption {
	background: #FFF3D6 url("/images/menu_triangle.gif") no-repeat fixed
		85px;
	border: 0px;
	border-bottom: 1px solid #000000;
	color: #000000;
	cursor: pointer;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
	height: 21px;
	left: 0;
	padding: 2px;
	padding-left: 5px;
	position: relative;
	text-align: left;
	top: 0;
}

DIV.clsSideMenuOptionLink {
	background: #FFF3D6;
	border: 0px;
	border-bottom: 1px solid #000000;
	color: #1C4231;
	cursor: pointer;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
	height: 21px;
	left: 0;
	padding: 2px;
	padding-left: 5px;
	position: relative;
	text-align: left;
	top: 0;
}

DIV.clsSideMenuOptionHover {
	background: #385B38 url("/images/menu_triangle.gif") no-repeat fixed
		85px;
	border: 0px;
	border-bottom: 1px solid #000000;
	color: #FFF3D6;
	cursor: pointer;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
	height: 21px;
	left: 0;
	padding: 2px;
	padding-left: 5px;
	position: relative;
	text-align: left;
	top: 0;
}

DIV.clsSideMenuOptionLinkHover {
	background: #1C4231;
	border: 0px;
	border-bottom: 1px solid #000000;
	color: #FFF3D6;
	cursor: pointer;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
	height: 21px;
	left: 0;
	padding: 2px;
	padding-left: 5px;
	position: relative;
	text-align: left;
	top: 0;
}

DIV.clsSideMenuSubs {
	background-color: #FFF3D6;
	background-image: url("/images/menu_triangle.gif");
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	padding: 3px;
}

DIV.clsSideMenuSubs:hover {
	background-color: #385B38;
	color: #FFF3D6;
}

DIV.clsSideMenuLogo {
	background-image: url("/images/Nedlink_Green 0204.gif");
	height: 43px;
	width: 110px;
}

TABLE.clsQuery {
	background-color: #F0F0F0;
	border: 1pt solid #385B38;
	border-collapse: collapse;
	margin-left: 12pt;
	margin-right: 12pt;
}

TD.clsQueryHeading {
	background-color: #1C4231;
	border: 1px solid #000000;
	color: #FFFFFF;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px;
}

TD.clsQueryHighlight {
	background-color: #FFD000;
	border: 1px solid #F0F0F0;
	color: #1C4231;
	font-family: arial;
	font-size: 8pt;
	padding: 2px;
}

TD.clsQuery {
	background-color: #E0E0E0;
	border: 1px solid #F0F0F0;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	padding: 2px;
}

A.clsQuery {
	color: #000000;
	text-decoration: none;
}

A.clsQuery:link {
	color: #000000;
	text-decoration: none;
}

A.clsQuery:visited {
	color: #1C4231;
	text-decoration: none;
}

A.clsQuery:hover {
	background: #417B33;
	color: #E0E0E0;
	text-decoration: none;
}

TABLE.clsInformation {
	background-color: #F0F0F0;
	border: 1pt solid #385B38;
	margin-left: 12pt;
	margin-right: 12pt;
}

TD.clsInformation {
	background-color: #F0F0F0;
	border: 0px solid #385B38;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	padding: 5px;
}

BODY.clsSideMenu {
	background-color: #1C4231;
	font-family: arial;
	font-size: 10pt;
}

BODY.clsMain {
	background-color: #FFFFFF;
	background-image: url("/images/background.gif");
	font-family: arial;
	font-size: 10pt;
}

P.clsHeading {
	color: #1C4231;
	font-family: arial;
	font-size: 17pt;
	font-weight: bold;
}

P.clsHeading1 {
	color: #1C4231;
	font-family: arial;
	font-size: 14pt;
	font-weight: bold;
}

P.clsHeading2 {
	color: #1C4231;
	font-family: arial;
	font-size: 12pt;
	font-weight: bold;
}

P.clsInformation {
	color: #000000;
	font-family: arial;
	font-size: 9pt;
	font-weight: normal;
}

P.clsErrorHeading {
	color: #FF0000;
	font-family: arial;
	font-size: 10pt;
	font-weight: bold;
}

P.clsErrorMessage {
	color: #FF0000;
	font-family: arial;
	font-size: 9pt;
	font-weight: normal;
}

LI.clsErrorMessage {
	color: #FF0000;
	font-family: arial;
	font-size: 9pt;
	font-weight: normal;
}

INPUT.clsInputText {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}

INPUT.clsInputButton {
	background-color: #FFF3D6;
	border-color: #FFF3D6;
	color: #1C4231;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
}

INPUT.clsInputFile {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}

INPUT.clsInputSubmit {
	background-color: #FFF3D6;
	border-color: #FFF3D6;
	color: #1C4231;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
}

TEXTAREA.clsInput {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}

SELECT.clsInput {
	border-style: solid;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}

A.clsRequired {
	color: #1C4231;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
}

TABLE.clsTree {
	background-color: #E0E0E0;
	border: 0pt;
}

TD.clsTreeBlank {
	border: 0px;
	color: #FFFFFF;
	font-family: arial;
	padding: 0px;
}

TD.clsTreeLabel {
	border: 0px;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	padding: 0px;
}

TD.clsTreeT {
	background-image: url("/Images/TreeT.png");
	border: 0px;
	color: #FFFFFF;
	font-family: arial;
	padding: 0px;
}

TD.clsTreeL {
	background-image: url("/Images/TreeL.png");
	border: 0px;
	color: #FFFFFF;
	font-family: arial;
	padding: 0px;
}

TD.clsTreeI {
	background-image: url("/images/TreeI.png");
	border: 0px;
	color: #FFFFFF;
	font-family: arial;
	padding: 0px;
}

INPUT.clsTreeCheckbox {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}

A.clsTreeLabelText {
	cursor: pointer;
}

HR.clsLine {
	color: #FFFFFF;
	height: 2px;
	width: 100px;
}

TD.clsMain {
	background-color: #FFFFFF;
	background-image: url("/images/background.gif");
	font-family: arial;
	font-size: 10pt;
}

TR.clsQuery {
	background-color: #E0E0E0;
	border: 1px solid #F0F0F0;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	padding: 2px;
}

TR.clsQueryHeading {
	background-color: #1C4231;
	border: 1px solid #000000;
	color: #FFFFFF;
	font-family: arial;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px;
}

TD.clsSideMenu {
	background-color: #1C4231;
	font-family: arial;
	font-size: 10pt;
}

TR.clsInformation {
	background-color: #F0F0F0;
	border: 0px solid #385B38;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	padding: 5px;
}